<div class="header">
  <h1>Product A</h1>
  <div id="starsRating" *ngIf="ratingEnabled" class="rate" data-rate-value="4.7"></div>
  <h3 *ngIf="ratingEnabled">4.7</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in tristique felis, sed tempus ipsum.</p>
</div>

<div class="gallery">
  <div class="item">
    <div class="name">
      <a href="/">Product A</a>
    </div>
    <img src="assets/images/product_a.png">
    <span class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in tristique felis, sed tempus ipsum.</span>
  </div>
</div>

<router-outlet></router-outlet>
